.banner-box {
  color: #e4e4e4;
  text-shadow: 1px 2px 2px #1b1b1b;
  text-align: center;

  > .headline {
    font-size: 5em;
  }

  > .headline .name {
    color: #e57373;
    font-weight: 700;
    font-family: 'Bitter', serif;
  }

  > .description {
    font-size: 1.6em;
    color: #fff;
    font-weight: 300;
    padding: 0 10px;
  }
}