$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin xs {
  @media only screen and (min-width: 0) and (max-width: #{$sm - 1}) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: #{$sm}) and (max-width: #{$md - 1}) {
    @content;
  }
}

@mixin xs-sm {
  @media only screen and (min-width: 0) and (max-width: #{$md - 1}) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: #{$md}) and (max-width: #{$lg - 1}) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: #{$lg}) and (max-width: #{$xl - 1}) {
    @content;
  }
} 

@mixin xl {
  @media only screen and (min-width: #{$xl}) {
    @content;
  }
}