@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity: 0;  /* make things invisible upon start */
    animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.fade-in-fast {
    opacity: 0;  
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;  
    animation-duration: 0.4s;
    animation-delay: 0.1s;
}