/*
  @fonts
  @resets
  @base
  @main-styles
  @media-queries
*/

/* @fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

/* @base */
html {
  font-family: 'Lato', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #0b2638;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15161e+0,0b2638+100 */
  background: rgb(21,22,30); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(21,22,30,1) 0%, rgba(11,38,56,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(21,22,30,1) 0%,rgba(11,38,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(21,22,30,1) 0%,rgba(11,38,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15161e', endColorstr='#0b2638',GradientType=1 ); /* IE6-9 */
  position: relative;
}

#particles-js {
  position: relative;
  height: 100%;
  position: fixed;
  width: 100%;
}

.main-container {
  position: relative;
  top:100%;
  margin: 0 auto;
  background-color: rgba(26, 30, 34, 0.80);
  box-shadow: 0px 8px 64px 0px #161616;
  // height: 2000px;
  z-index: 1;
}

/* @main-styles */
.about-me {
  padding: 50px 0;
}

.about-me .avatar-box {
  width: 100%;
}

.about-me .bio {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #E5E5E5;
  text-shadow: 1px 1px 1px #333333;
}

.banner-box {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
}

#menu {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 100;
  position: fixed;
}

.nav-menu {
  box-shadow: 1px 1px 1px #313131;
  background-color: rgba(121, 83, 83, 0.1);
  padding-bottom: 5px;
}

/* @media-queries */

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .social-networks {
    margin-top: 50px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .banner-box {
    top: 10%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .banner-box {
    top: 10%;

    .headline {
      font-size: 2rem;
    }

    .description {
      font-size: 1rem;
    }
  }

  .social-network {
    font-size: 2em;
    padding: 5px 14px;
    margin-bottom: 10px;
  }

  #particles-js {
    height: 700px;
  }
}