// First Row
.projects-row.d-flex.flex-column.flex-sm-column.flex-md-row.justify-content-between
  .project-box
    img.image(src="src/img/projects/passlist.png" alt="")
    .body
      h5.title Passlist
      p.description Application to make easier and agile taking record of the attendance of students enrolled in a course. Developed as a Rails API to be consumed by an Android Client.
      a.link(href="https://github.com/warborn/android_passlist" target="_blank") Check it out on Github
      .tags
        span.tag #API
        span.tag #Ruby
        span.tag #RubyOnRails
        span.tag #PostgreSQL
        span.tag #Java
        span.tag #Android Client
  
  .project-box
    img.image(src="src/img/projects/catch-of-the-day.png" alt="")
    .body
      h5.title Catch of the Day
      p.description Seafood market management application with authentication and realtime updates.
      a.button(href="https://wb-seafood-market.firebaseapp.com/" target="_blank") View it live
      a.link(href="https://github.com/warborn/catch-of-the-day" target="_blank") Check it out on Github
      .tags
        span.tag #React
        span.tag #LocalStorage
        span.tag #JavaScript (ES6/7)
        span.tag #Firebase
        span.tag #Twitter &amp; Github Auth
        span.tag #CreateReactApp
  

  .project-box
    img.image(src="src/img/projects/duckr.png" alt="")
    .body
      h5.title Duckr
      p.description Twitter like SPA built with React &amp; Redux connected to a Firebase backend.
      a.button(href="https://wb-duckr.firebaseapp.com/" target="_blank") View it live
      a.link(href="https://github.com/warborn/duckr" target="_blank") Check it out on Github
      .tags
        span.tag #HTML5
        span.tag #CSS Modules
        span.tag #JavaScript (ES6)
        span.tag #React &amp; Redux
        span.tag #Firebase
        span.tag #ESLint
        span.tag #Webpack
        span.tag #Facebook &amp; Google Auth

// Second Row
.projects-row.d-flex.flex-column.flex-sm-column.flex-md-row.justify-content-between
  .project-box
    img.image(src="src/img/projects/github-battle.png" alt="")
    .body
      h5.title Github Battle
      p.description 
        | React SPA to view the most popular Github Repositories from different languages and to compare the popularity of two Github users.
      a.button(href="https://wb-github-battle.netlify.com/" target="_blank") View it live
      a.link(href="https://github.com/warborn/github-battle" target="_blank") Check it out on Github
      .tags
        span.tag #HTML5
        span.tag #CSS
        span.tag #JavaScript (ES6/7)
        span.tag #AJAX
        span.tag #React
        span.tag #Github API
        span.tag #Webpack

  .project-box
    img.image(src="src/img/projects/gaze-tracker.png" alt="")
    .body
      h5.title Gaze Tracker
      p.description Application to detect in real time the location of the gaze of a person and later move the cursor of the computer in the corresponding direction.
      a.link(href="https://github.com/warborn/gaze-tracker" target="_blank") Check it out on Github
      .tags
        span.tag #Matlab
        span.tag #Computer Vision

  .project-box
    img.image(src="src/img/projects/prototype.png" alt="")
    .body
      h5.title Prototype
      p.description Simple PHP MVC framework &amp; ORM built from scratch to learn how they work under the hood.
      a.link(href="https://github.com/warborn/prototype" target="_blank") Check it out on Github
      .tags
        span.tag #PHP
        span.tag #Framework
        span.tag #MySQL