.projects-row.d-flex.flex-column.flex-sm-column.flex-md-row.justify-content-between
  .project-box.-fullview
    img.image(src="src/img/projects/codetraining.png" alt="")
    .body
      h5.title CodeTraining
      p.description Online platform to practice programming through programming exercises which asses skills in algorithms, logic, programming fundamentals, data structures, etc. 
      a.button(href="http://slides.com/warborn/codetraining" target="_blank") View a presentation
      .tags
        span.tag #HTML5
        span.tag #Sass
        span.tag #JavaScript (ES6)
        span.tag #AJAX
        span.tag #Webpack
        span.tag #Ruby
        span.tag #RubyOnRails
        span.tag #PostgreSQL

  .project-box.-fullview
    img.image(src="src/img/projects/unam-odontology.png" alt="")
    .body
      h5.title UNAM Odontology
      p.description CRUD application to manage the patients of the Odontological clinics of the National Autonomous University of Mexico.
      a.link(href="https://github.com/warborn/unam_odontology" target="_blank") Check it on github
      .tags
        span.tag #HTML5
        span.tag #CSS3
        span.tag #JavaScript
        span.tag #AJAX
        span.tag #PHP
        span.tag #Laravel
        span.tag #MySQL

  .project-box.-fullview
    img.image(src="src/img/projects/portfolio.png" alt="")
    .body
      h5.title Portfolio
      p.description Personal portfolio site developed to show my current skills.
      a.link(href="https://github.com/warborn/portfolio" target="_blank") Check it on github
      .tags
        span.tag #HTML5
        span.tag #Sass
        span.tag #JavaScript (ES6)
        span.tag #Webpack
        span.tag #Pug