.projects-row.d-flex.flex-column.flex-sm-column.flex-md-row.justify-content-between
  .project-box.-fullview
    img.image(src="src/img/placeholder.png" alt="")
    .body
      h5.title CodeTraining
      p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium reiciendis tempore recusandae voluptas numquam fugit placeat amet.
      .tags
        span.tag #HTML5
        span.tag #Sass
        span.tag #JavaScript (ES6)
        span.tag #AJAX
        span.tag #Webpack
        span.tag #Ruby
        span.tag #RubyOnRails
        span.tag #PostgreSQL

  .project-box.-fullview
    img.image(src="src/img/placeholder.png" alt="")
    .body
      h5.title UNAM Odontology
      p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium reiciendis tempore recusandae voluptas numquam fugit placeat amet.
      a.link(href="https://github.com/warborn/unam_odontology" target="_blank") Check it on github
      .tags
        span.tag #HTML5
        span.tag #CSS3
        span.tag #JavaScript
        span.tag #AJAX
        span.tag #PHP
        span.tag #Laravel
        span.tag #MySQL

  .project-box.-fullview
    img.image(src="src/img/projects/portfolio.png" alt="")
    .body
      h5.title Portfolio
      p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium reiciendis tempore recusandae voluptas numquam fugit placeat amet.
      a.link(href="https://github.com/warborn/portfolio" target="_blank") Check it on github
      .tags
        span.tag #HTML5
        span.tag #Sass
        span.tag #JavaScript (ES6)
        span.tag #Webpack
        span.tag #Pug