doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Iván Munguía
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css')
  script(src='https://use.fontawesome.com/05f5671d94.js')
#particles-js

nav#menu
  .nav-menu.d-flex.justify-content-between
    .title
      a.link.name(href='#') Iván Munguía
    .sections
      a.link(href='#projects').-active Projects
      a.link(href='/') Home
.container.main-container
  // start of main-container
  section#projects.projects.d-flex.justify-content-between
    each val in [1,2,3]
      .project-box.mr-4.-fullview
        img.image(src="src/img/placeholder.png" alt="")
        .body
          h5.title Awesome Project
          p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium reiciendis tempore recusandae voluptas numquam fugit placeat amet.
          a.link(href="#") Check it on github
          .tags
            span.tag #HTML5
            span.tag #CSS3
            span.tag #JS
            span.tag #Ruby
            span.tag #SQL
