@import "./variables/*";
@import "./mixins/*";
@import "./components/nav-menu.scss";
@import "./components/project-box.scss";
@import "./base/*";
// @import "./themes/sequence-theme.two-up.scss";

#menu {
  display: block;
  background-color: rgba(121, 83, 83, 0.1);
}

.main-container {
  top: 25%;
}

.projects {
  padding: 50px 0;

  .project-box {
    margin-bottom: 40px;

    .button { width: 80%; margin-left: auto; margin-right: auto; }

    @include xs-sm {
      .button { width: 100% }
    }
    
    @include sm {
      font-size: 1rem;
      line-height: 1.6rem;
    }

    @include xs {
      font-size: 0.875rem;
      line-height: 1.4rem;
    }
  }
}

.projects .projects-row .project-box {
  margin-left: 3%;
  margin-right: 3%;
  @include xs-sm { margin-left: 0; margin-right: 0; }
}

.bottom-link {
  @include md-xl {
    display:none;
  }
}