@import "./variables/*";
@import "./mixins/*";
@import "./components/nav-menu.scss";
@import "./components/project-box.scss";
@import "./base/*";
// @import "./themes/sequence-theme.two-up.scss";

#menu {
  display: block;
  background-color: rgba(121, 83, 83, 0.1);
}

.main-container {
  height: 1000px;
  top: 25%;
}

.projects {
  padding: 50px 0;
}